.form-container {
    min-height: 69.7vh;
}
.form-box {
    width: 350px;
    padding: 20px;
    margin: 80px auto 80px auto;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
}

.form-title {
    font-size: 30px;
    font-weight : bold;
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.input-box {
    font-size: 14px;  /* 글자 크기 강제 적용 */
    color: black;
    font-family: Arial, sans-serif;
    text-align: left;
    border: 1px solid #666;
    padding: 10px;
    border-radius: 5px;
}

.input-box:disabled {
    background: #B0B0B0;
}

.input-group {
    position: relative;
    /*margin-bottom: 15px;*/
}

.input-group label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 14px;
    pointer-events: none;
}

.input-group input {
    width: 330px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    display: none;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.edit-btn {
    display: block;
    margin-right: 0;
    text-align: center;
    background-color: #888;
    color: white;
    width: 70%;
}

.edit-btn:hover {
    background-color: #777;
}

.withdraw-btn {
    display: block; ;
    margin-right: 0 ;
    background-color: #f44336;
    color: white;
    width: 30%;
}

.withdraw-btn:hover {
    background-color: #e53935;
}

.error-msg {
    /*display: none;*/
    color: yellow;
    font-size: 10px;
    margin: 3px 0 15px 0;
}

button {
    width: 350px;
    padding: 10px;
    background-color: #777;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.hospital-department {
    display: flex;
    gap: 10px;
}
.hospital, .department {
    flex: 1;
}
.email-container {
    display: flex;
    gap: 10px;
}

#verification-code-container {
    display: none;
}

#email-verify-btn {
    padding: 5px 10px;
    cursor: pointer;
}

#id {
    padding: 10px 10px 10px 40px;
}

#password {
    padding: 10px 10px 10px 50px;
}

#hospital {
    padding: 10px 10px 10px 45px;
    width: 170px;
}

#department {
    padding: 10px 10px 10px 45px;
    width: 170px;
}

#label-department {
    left: 190px;
}

#name {
    padding: 10px 10px 10px 65px;
}

#email {
    padding: 10px 10px 10px 65px;
}

#verification-code {
    padding: 10px 10px 10px 130px;
}

#phone {
    padding: 10px 10px 10px 73px;
}

#url-signin {
    margin-left: 85%;
}

#url-signup {
    margin-left: 83%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #333;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modal-content p {
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
}

.modal-content input {
    width: 100%;
    padding: 10px 10px 10px 85px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

#confirm-btn {
    background-color: #f44336;
}

#confirm-btn:hover {
    background-color: #e53935;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #888;
}

.close:hover {
    color: black;
}

#content-container > #logo {
    width: 100%;
    height: 100%;
    background-image: url('http://localhost:3000/images/logo.jpg');
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.privacy-consent {
    font-size: 14px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

.privacy-consent a {
    color: #007BFF;
    text-decoration: none;
}

.privacy-consent a:hover {
    text-decoration: underline;
}

#privacy-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 100px;
}

.privacy-modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 700px;
    max-height: 80vh;
    overflow-y: auto;
}

.privacy-modal-content h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.privacy-modal-content pre {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-height: 60vh;
    overflow-y: auto;
}

.privacy-modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: #333;
    cursor: pointer;
}

#privacy-link {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

#privacy-link:hover {
    text-decoration: underline;
}