.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.55);
    /*background: #4a90e2;*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    width: 100%;
    background: #000;
    border: 2px solid green;   /* ✅ 강제 표시 */
    /*position: relative;*/
    /*z-index: 10000;*/

    /*width: min(1200px, 96vw);*/
    /*height: min(760px, 92vh);*/
    /*background: #fff;*/
    /*border-radius: 12px;*/
    /*overflow: hidden;*/



}
.screen{
    /*position: relative;*/
    /*width:100%; height: 200px;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*min-height: 600px;*/
    width: 700px;
    height: 700px;
    background: #000;
    position: relative;
    overflow: hidden;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: red;
    z-index: 10000;
}